* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    min-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.wrapper{
    background-image: url("./images/hdrbcg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.header {
    
    padding-top: 30px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list {
    display: flex;
    align-items: center;
}

.header_item {
    margin-left: 34px;
}

.header_link {
    opacity: 0.7;
    color: #0C1523;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.3s ease;
}

.header_link:hover {
    color: black;
}

.header_card {
    display: flex;
    align-items: center;
}

.header_title {
    margin-right: 25px;
    color: #ffffff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header_btn {
    color: var(--Font, #0C1523);
    border-radius: 9px;
    border: none;
    background: var(--Btn, #41F5C0);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 25px;
}
.hero_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hero_title{
    width: 300px;
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 42.54px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%;
}
.hero_text{
    width: 360px;
    margin-bottom: 30px;
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 23.94px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.hero_btn{
    color: var(--Font, #0C1523);
    font-family: Inter;
    border-radius: 9px;
    background: var(--Btn, #41F5C0);
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-right: 30px;
    line-height: normal;
}
.hero-btn{
    color: var(--Font, #0C1523);
    font-family: Inter;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.img{
    margin-right: -200px;
}