* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    min-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.wrapper{
    background-image: url("./images/hdrbcg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.header {
    
    padding-top: 30px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list {
    display: flex;
    align-items: center;
}

.header_item {
    margin-left: 34px;
}

.header_link {
    opacity: 0.7;
    color: #0C1523;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.3s ease;
}

.header_link:hover {
    color: black;
}

.header_card {
    display: flex;
    align-items: center;
}

.header_title {
    margin-right: 25px;
    color: #ffffff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header_btn {
    color: var(--Font, #0C1523);
    border-radius: 9px;
    border: none;
    background: var(--Btn, #41F5C0);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 25px;
}
.hero_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hero_title{
    width: 300px;
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 42.54px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%;
}
.hero_text{
    width: 360px;
    margin-bottom: 30px;
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 23.94px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.hero_btn{
    color: var(--Font, #0C1523);
    font-family: Inter;
    border-radius: 9px;
    background: var(--Btn, #41F5C0);
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-right: 30px;
    line-height: normal;
}
.hero-btn{
    color: var(--Font, #0C1523);
    font-family: Inter;
    border: none;
    border-radius: 9px;
    padding: 15px 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hero_list{
    display: flex;

    flex-wrap: wrap;
}
.hero_item{
    width: 180px;
    margin: 40px;
    
    height: 66px;
}


.service{
    padding-top: 130px;
    padding-bottom: 130px;
}
.service_title{
    color: var(--Font, #0C1523);
    text-align: center;
    font-family: Inter;
    font-size: 42.536px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 60px;
}
.service_list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.title{
    text-align: center;
    margin-bottom: 8px;
}
.text{
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 13.333px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


.intro{
    width: 1140px;
    height: 1080px;
    margin: 0 auto;
    padding-bottom: 130px;
}
.intro_list{
    display: flex;
    flex-wrap: wrap;
}
.intro_item{
    margin: 40px;
}
.intro_title{
    width: 367px;
    margin-bottom: 15px;
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 42.536px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.intro_btn{
    color: var(--Gray, #FAFBFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 25px;
    border-radius: 9px;
    background: var(--Font, #0C1523);
}
.intro-title{
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 23.94px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.intro_text{
    width: 290px;
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
}
.intro_span{
    width: 437px;
    height: 5px;
    display: block;
    background: linear-gradient(270deg, rgba(65, 245, 192, 0.05) 0%, #41F5C0 49.29%, rgba(65, 245, 192, 0.05) 100%);
}

/* customer */

.customer{
    padding-bottom: 130px;
}

.customer_list{
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.customer_item{
    width: 380px;
    margin: 0 auto;
    text-align: center;
    margin: 50px;
}
.customer_title{
    text-align: center;
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 42.536px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
}
.customer_text{
    width: 538px;
    margin: 0 auto;
    color: var(--Font, #0C1523);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.title1{
    color: var(--Font, #0C1523);
    text-align: center;
    font-family: Inter;
    font-size: 31.912px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}
.text{
    color: var(--Font, #0C1523);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


.terminal{
    padding-bottom: 130px;
}
.terminal_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.terminal_title{
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 31.912px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}
.terminal_text{
    color: var(--Font, #0C1523);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.terminal_btn{
    color: var(--Gray, #FAFBFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 25px;
    border-radius: 9px;
    border: none;
    background: var(--Font, #0C1523);
}

.select{
    padding-bottom: 130px;
}
.select_title{
    color: var(--Font, #0C1523);
    text-align: center;
    font-family: Inter;
    font-size: 42.536px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
}
.select_text{
    width: 538px;
    margin: 0 auto;
    color: var(--Font, #0C1523);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.select_card{
    margin-top: 95px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.select_sub{
    text-align: center;
}
.select_btn{
    border-radius: 13px;
    padding: 11px 12px;
    border: 1px solid #FFD466;
    margin-bottom: 60px;
}
.select_span{
    margin-left: 10px;
    color: #F8B200;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.select-text{
    width: 230px;
    color: var(--Font, #0C1523);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 50px;
}
.select__title{
    margin-top: 12px;
    color: var(--b, #263959);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 10px;
}
.select__text{
    color: var(--Font, #0C1523);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.7;
    }